useDynLib(INN,.registration=TRUE)
export(innc)
export(inns)
export(inn2)
export(inn2c)
export(innc.test)
export(inns.test)
export(inn2.test)
importFrom(Rcpp,evalCpp)
importFrom(stats,quantile)
importFrom(stats,dist)